@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:400,500,600,700|Merriweather+Sans:400,700,800|PT+Sans:400,700');
.blank{height:5vh; width:100%;}
.p-blank{height:1em;width:100%;}
html {scroll-behavior: smooth;}
.cover{margin-left:-45%; position: relative; left:50%; padding-top: -30vh;}

/* orange
#FFA500
rgb(255,165,0) */

h1{font-family:'Merriweather Sans', sans-serif; font-weight: 700; font-size: 2.5em;text-align: center;}
h2{font-family:'Merriweather Sans', sans-serif; font-weight: 700; font-size: 2em; color: #775644; text-align: center;}
h3{font-family:'Merriweather Sans', sans-serif; font-weight: 700; font-size: 1.5em; color: #775644; text-align: center;}
p{font-family: 'PT Sans', sans-serif; line-height: 1.5em;}

h4{font-family:'Merriweather Sans', sans-serif; font-weight: 700; font-size: 1.2em;}


.ph-cover, .ph-pro, .ph-ending{display: block;position: relative; margin-left: -35%; left:50%;}

.p-about{width:50%; margin-left: -25%; position: relative; left:50%;}
.p-pro1{ width:50%; position: relative; top:-5vh; left:30vw;}
.p-ending{text-align: center;}
