@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800');

:root {  --mainColor: #ff9800;}
html {scroll-behavior: smooth;}
body{font-family: 'Merriweather Sans', sans-serif;}
.blank{height:10px;}
.blank{height:5vh; width:100%;}
.p-blank{height:1em;width:100%;}

#load{width:100%;height:100%;position:fixed;z-index:9999;background:rgba(255,255,255,1)}
.ph-load{position: absolute; width:60%; margin-left: -30%; left:48%; top:10%;}


.headerr{position: absolute; width:40px;margin-left: -20px;left:50vw; top:30px;}
#sec1{height:100vh; overflow: hidden;}
#canvas-1{width:100%; height:100vh;}
.intro{text-align: center;
  width:600px;position: absolute; margin-left: -300px; left:50%; top:13vw; background-color:;
  font-weight: 700; font-size: 30px; line-height: 55px;
  cursor:default;}

.button {
  cursor: default;
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
  background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 5px 5px;
  color: black;
  text-decoration: none;
}
.button:visited{color:black;}
.button:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 10px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.start{ transition: .6s; color: black;font-size: 20px; font-weight:700; text-decoration: none; border: 3px solid black; border-radius: 40px; padding:5px 12px;
left:50%;}
.start:focus{color: black;}
.start:hover{background-color:rgba(255,152,0,0.8); transition: .3s;}
.start:visited{color:black;}

/* .arrowdown{display: inline-block; transform: rotate(45deg); position: relative; left:215px;} */

#sec2{height:70vw; position: relative;
  /* background-color: yellow; */
}
.header{
  padding-top: 20px;
}
.logo{position: absolute; left:60px;}
#nav{position: absolute; width: 100%; top:20px; }
.Home{font-size: 1.6em; font-weight: 600; display: inline; position: relative; left:110px; bottom:-15px;}
.nav{ margin-left: 20px; margin-right: 20px; padding-bottom: 3px;position: relative;
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
}
.nav:hover{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 8px;
  background-repeat: repeat-x;
  text-decoration: none;
}
.nav-right{position: absolute; right:100px;bottom:-33px; font-weight: bold;}
a{color: black; z-index: 30; font-family: 'Merriweather Sans', sans-serif; text-decoration: none;}


#egg{font-size: 14px; color:#ffb757; width:60vw; z-index: -10; position: absolute; margin-left: -30vw; left:50%; top:23vw; text-align: center;}


/* .pj01{width:35vw; height:30vh; background-color: pink; position: absolute; top: 15vh;} */
.pj-odd{position: absolute; left: 9.7vw; text-decoration: none;}
.pj-even{position: absolute; right: 9.7vw; text-decoration: none;}
.pj-odd:visited, .pj-even:visited{color:black;}

.pj01{width:39vw; height:17vw; background-color: aliceblue; position: absolute; top: 8vw; overflow: hidden;}
.pj02{width:39vw; height:17vw; background-color: aliceblue; position: absolute; top: 8vw; overflow: hidden;}
.pj03{width:39vw; height:17vw; background-color: aliceblue; position: absolute; top: 27vw; overflow: hidden;}
.pj04{width:39vw; height:17vw; background-color: aliceblue; position: absolute; top: 27vw; overflow: hidden;}
.pj05{width:39vw; height:17vw; background-color: aliceblue; position: absolute; top: 46vw; overflow: hidden;}
.pj06{width:39vw; height:17vw; background-color: aliceblue; position: absolute; top: 46vw; overflow: hidden;}
/* .pj07{width:39vw; height:17vw; background-color: aliceblue; position: absolute; top: 65vw; overflow: hidden;}
.pj08{width:39vw; height:17vw; background-color: aliceblue; position: absolute; top: 65vw; overflow: hidden;}
.pj09{width:39vw; height:17vw; background-color: aliceblue; position: absolute; top: 84vw; overflow: hidden;}
.pj10{width:39vw; height:17vw; background-color: aliceblue; position: absolute; top: 84vw; overflow: hidden;} */
.pj07{width:39vw; height:17vw; background-color: aliceblue; position: absolute; top: 5vw; overflow: hidden;}
.pj08{width:39vw; height:17vw; background-color: aliceblue; position: absolute; top: 5vw; overflow: hidden;}
.pj09{width:39vw; height:17vw; background-color: aliceblue; position: absolute; top: 24vw; overflow: hidden;}
.pj10{width:39vw; height:17vw; background-color: aliceblue; position: absolute; top: 24vw; overflow: hidden;}

.p-pj{font-size: 1.3em; font-weight: 700; background-color: black; color:white; display: inline; padding-left: 2ch; padding-right: 1ch; padding-top: 0.3em; padding-bottom: 0.3em;
  position: absolute; top:13vw; left:0; z-index: 100;}

/* .ph-pj01{height:17vw; position: relative; left:-2em;} */
.ph-pj01{width:39vw; position: relative; top:-4.5em;}
.ph-pj02{width:39vw; position: relative; top:-2.5em;}
.ph-pj03{width:39vw; position: relative; top:-2em;}
.ph-pj04{width:39vw; position: relative; top:-4.2em;}
.ph-pj05{width:39vw; position: relative; top:-1em;}
.ph-pj06{width:41vw; position: relative; top:-0.5em;}
.ph-pj07{width:39vw; position: relative; top:-2.5em;}
.ph-pj08{width:41vw; position: relative; top:-5.5em;}
.ph-pj09{width:39vw; position: relative; top:-0.5em;}
.ph-pj09{width:39vw; position: relative; top:-0.5em;}
.ph-pj10{width:39vw; position: relative; top:-3em;}




.ph-pj{transition: .4s;}
.ph-pj:hover{ transform: scale(1.1); transition: .5s}



#sec3{height:5vw; position: relative; bottom:0px;}
.p-bottom{text-align: center; font-size: 0.8em; line-height: 1.2em;}
.p-bottom2{text-align: center; font-size: 0.8em;}
.email{padding-left: 1ch; padding-right: 1ch; text-decoration: none; color: black;}
/* .email:hover{background-color: #ffb757; transition: .3s;} */
.email:visited{color: black;}



.p-bottomm{text-align: center; font-size: 0.8em; line-height: 1.2em; position: relative; top:45vw;}
.p-bottomm2{text-align: center; font-size: 0.8em;position: relative; top:45vw;}
.p-bottomm3{text-align: center; font-size: 4em;position:relative; top:45vw; color: white;}

.more-button{font-size: 1.1em; width:11ch; margin-left: -4.5ch; position: relative; left:50%;}
.morecontainer {
    width:100%;
    position: relative; top: 63vw;
    background-color: white;
    z-index: 20;}

.morecontainer .expand {
    transition: 5s;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;}

.morecontainer .more {
    display: none;
    padding : 5px;}
